# Copia este archivo como ".env" y rellena con los datos de TU proyecto de Supabase.
# Los encuentras en: Supabase -> Settings -> API

VITE_SUPABASE_URL=https://anhqhlfmkswdmgzrmyks.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFuaHFobGZta3N3ZG1nenJteWtzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODkyOTE0MDAsImV4cCI6MjEwNDg2NzQwMH0.QpzU9GSFojcZHryF_htLBMLpOwgy21iIoEzNMr74VrA
